<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--http POST is to write -->
    <form method="POST"> 
        <label>Name:</label>
        <input type= "text" name= "user_name">
        <input type= "submit" value="Submit Survey">
        <br/>

    <label>Age group</label>
    <input type="radio" name= "age_group" value="teenagers"><span>Teenagers</span>
    <input type="radio" name= "age_group" value="young_adult"><span>Adult</span>
    <input type="radio" name= "age_group" value="old_folk"><span>Old folks</span>

    <br/>
    <label>Favourite Food</label>
    <input type="checkbox" name= "favourites" value="chicken_rice"><span>chicken rice</span>
    <input type="checkbox" name= "favourites" value="prata"><span>prata</span>
    <input type="checkbox" name= "favourites" value="oyster"><span>oyster</span>
    </form>

    <br/>
    <label>Country</label>
    <select name= "country">
        <option value="singapore">Singapore </option>
        <option value="malaysia">Malaysia </option>

    </select>
</body>
</html>